<!-- create-post.component.html -->
<div class="create-post-container d-flex flex-row align-items-center mt-5" (click)="openCreatePostModal()">
   <!-- User Avatar -->
   <img [src]="userProfileImage" [alt]="user.firstName" class="user-avatar mr-3">
  <!-- Post Form -->
  <form class="d-flex align-items-center justify-between w-100">
    <textarea placeholder="What's on your mind?" class="post-textarea"></textarea>
    <button type="submit" class="submit-post-btn"><i class="fa-solid fa-paper-plane"></i></button>
  </form>
</div>
