<!-- create-post.component.html -->
<div class="create-post-container d-flex flex-row align-items-center mt-5" (click)="openCreatePostModal()" *ngIf="false">
   <!-- User Avatar -->
   <img [src]="userProfileImage" [alt]="user.firstName" class="user-avatar mr-3">
  <!-- Post Form -->
  <form class="d-flex align-items-center justify-between w-100">
    <textarea placeholder="What's on your mind?" class="post-textarea"></textarea>
    <button type="submit" class="submit-post-btn"><i class="fa-solid fa-paper-plane"></i></button>
  </form>
</div>


<div class="create-post-container skeleton d-flex flex-row align-items-center mt-5" *ngIf="true">
  <!-- User Avatar Skeleton -->
  <div class="skeleton user-avatar mr-3"></div>
  <!-- Post Form Skeleton -->
  <div class="skeleton-form d-flex align-items-center justify-between w-100">
    <div class="skeleton post-textarea"></div>
    <div class="skeleton submit-post-btn"></div>
  </div>
</div>
