<div class="create-post-container d-flex flex-row align-items-center mt-5" (click)="openCreatePostModal()" *ngIf="user; else loading">
   <!-- User Avatar -->
   <img [src]="userProfileImage" [alt]="user.firstName" class="user-avatar">
  <!-- Post Form -->
  <form class="d-flex align-items-center justify-between w-100 ml-3">
    <textarea placeholder="What's on your mind?" class="post-textarea"></textarea>
    <button type="submit" class="submit-post-btn"><i class="fa-solid fa-paper-plane"></i></button>
  </form>
</div>

<ng-template #loading>
  <div class="create-post-container skeleton d-flex flex-row align-items-center mt-5">
    <!-- User Avatar Skeleton -->
    <div class="skeleton user-avatar animate-pulse"></div>
    <!-- Post Form Skeleton -->
    <div class="skeleton-form d-flex align-items-center justify-between w-100 ml-3">
      <div class="skeleton post-textarea animate-pulse"></div>
      <div class="skeleton submit-post-btn animate-pulse"></div>
    </div>
  </div>

</ng-template>
