@import 'src/assets/styles/variables.scss';


/* create-post.component.scss */
.create-post-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #eeeeee;
  margin-bottom: 16px;
  width: 28rem;
}

.user-avatar {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  object-fit: cover;
}

.post-textarea {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccd0d5;
  border-radius: 16px;
  resize: vertical; /* Allows the user to resize the textarea vertically */
  width: 80%;
}

.submit-post-btn {
  background-color: $sky-blue;
  color: $text-white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    background-color: darken($sky-blue, 10%);
  }
}

.post-textarea {
  outline: none;
  color: $medium-gray;
}


///////// Skeleton Loader /////////

.create-post-container.skeleton {
 // background: #e4e4e4; // A lighter background for the skeleton
  justify-content: start;
  .skeleton {
    background: #e4e4e4;
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
  }

  .user-avatar {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    &.skeleton {
      margin-right: 12px; // Match the marginRight of the actual avatar
    }
  }

  .skeleton-form {
    flex-grow: 1;
  //  flex-direction: column;

    .post-textarea {
      height: 50px;
      width: 80%;
      border-radius: 18px; // Make it a bit larger to mimic the placeholder text
      border: none;
    }

    .submit-post-btn {
      height: 40px;
      width: 40px;
      border-radius: 50%; // Circle shape to mimic the send button
      margin-left: auto; // Push it to the end of the container
    }
  }
}

@keyframes loading {
  100% {
    background-position: -200% 0;
  }
}
