<!-- activity-card.component.html -->
<div class="container-activity w-80 bg-white rounded-lg p-4">
  <div class="flex justify-between items-center">
    <h2 class="text-lg font-bold activity-label">Activity</h2>
    <a class="see-all-link text-sm">See all</a>
  </div>
  <div class="mt-3">
    <h3 class="text-md story-about-you-label">Stories About You</h3>
    <p class="text-sm text-gray-400">2 stories mention you</p>
  </div>
  <div class="mt-3">
    <h3 class="text-md text-gray-500">New</h3>
    <div class="space-y-2">
      <!-- Repeat this block for each activity -->
      <div class="flex items-center" *ngFor="let activity of activities">
        <img class="h-10 w-10 rounded-full object-cover" [src]="activity.user.image" alt="profile picture">
        <div class="ml-2 d-flex align-items-center">
          <p class="text-sm font-medium username-label mb-0 margin-right-custom">{{activity.user.firstName}} {{activity.user.lastName}}</p>
          <p class="text-xs activity-description mb-0"> {{activity.description}}</p>
        </div>
      </div>
      <!-- ...other activities -->
    </div>
  </div>
</div>
