<div class="d-flex align-items-center justify-between w-100">
  <div class="user-info flex items-center" (click)="openUserProfile(user.id)">
    <img src="{{user.profileImageUrl}}" alt="{{user.firstName}}" class="user-avatar mr-3">
    <div>
      <p class="username-label text-sm font-medium mb-o">{{user.firstName}} {{user.lastName}}</p>
    </div>
  </div>
  <button class="follow-btn" (click)="followUser(user.id)" *ngIf="!isFollowed">
    <i class="fa-solid fa-user-plus" ></i>
  </button>

  <button class="follow-btn" (click)="unfollowUser(user.id)" *ngIf="isFollowed">
    <i class="fa-solid fa-user-minus"></i>
  </button>

</div>
