@import 'src/assets/styles/variables.scss';

.user-info {
  display: flex;
  align-items: center;

  .avatar {
    width: 3rem; // Avatar size
    height: 3rem;
    border-radius: 9999px;
    margin-right: 0.75rem;
  }

  .username-label {
    margin-bottom: 0!important;
    color: $dark-gray-text;
  }
}

.follow-btn {
  color: $sky-blue;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
