@import 'src/assets/styles/variables.scss';

.suggested-card {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 4px #eeeeee;

  .suggest-label {
    color: $dark-gray-text;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }


  .see-all-btn {
    color: $sky-blue;
  }

  .suggestions {
    .suggestion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;

      .user-info {
        display: flex;
        align-items: center;

        .avatar {
          width: 3rem; // Avatar size
          height: 3rem;
          border-radius: 9999px;
          margin-right: 0.75rem;
        }

        .username {
          font-weight: bold;
          margin-bottom: 0!important;
        }

        .recommendation {
          font-size: 0.875rem;
          color: #6b7280;
        }
      }

      .follow-btn {
        color: #6366f1; // Tailwind's indigo-500
        // Additional styles for the follow button
      }
    }
  }
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
