<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 d-flex align-items-start justify-between pt-5 pb-5 mb-5" *ngIf="user">
  <div class="left">
    <!-- user-profile-card.component.html -->
    <div class="profile-card bg-white rounded-lg p-4 text-center shadow">
      <div class="container-back-icon">
        <i class="fa-solid fa-arrow-left" (click)="onBack()"></i>
      </div>
      <div class="d-flex justify-center">
        <img src="{{ user.profileImageUrl }}" alt="{{ user.firstName }}" class="user-avatar">
      </div>
      <h3 class="profile-name">{{ user.firstName }} {{ user.lastName }}</h3>
      <!-- <p class="profile-username">@{{ user.username }}</p> -->
      <div class="profile-stats mt-4 flex justify-center space-x-6">
        <div class="stat cursor" (click)="openFollowersDialog()">
          <span class="stat-value">{{ user.followers.length }}</span>
          <span class="stat-key">Followers</span>
        </div>
        <div class="stat cursor" (click)="openFollowingDialog()">
          <span class="stat-value">{{ user.following.length }}</span>
          <span class="stat-key">Following</span>
        </div>
        <div class="stat">
          <span class="stat-value">{{ user.totalPosts }}</span>
          <span class="stat-key">Posts</span>
        </div>
      </div>
      <div class="container-user-actions d-flex align-items-center justify-center mt-2" *ngIf="!isMyProfile">
        <button class="btn btn-primary w-100 mr-2" *ngIf="!isUserFollowing" (click)="follow()">Follow</button>
        <button class="btn btn-primary w-100 mr-2" *ngIf="isUserFollowing" (click)="unfollow()">Unfollow</button>
        <button class="btn btn-secondary" *ngIf="false">Message</button>
      </div>
    </div>

    <!-- user-info-card.component.html -->
    <div class="user-info-card bg-white rounded-lg shadow p-4 mt-4" *ngIf="(isDetailsPresent() && !isMyProfile) || isMyProfile">
      <div class="d-flex flex-column w-100" *ngIf="isDetailsPresent()">
        <div class="d-flex justify-end" *ngIf="isMyProfile">
          <i class="fa-solid fa-pencil edit-icon-btn" (click)="openDetailModal()"></i>
        </div>
        <div class="info-item mb-3">
          <i class="fa fa-user icon"></i>
          <span class="label">Lives in</span>
          <span class="value">{{ user.livesIn }}</span>
        </div>

        <div class="info-item mb-3">
          <i class="fa fa-align-left icon"></i>
          <span class="value">{{ user.bio }}</span>
        </div>

        <!-- Add more info items as needed -->
        <!-- ... -->

        <hr class="divider my-3">

        <div class="label mb-2" *ngIf="user.interests.length > 0">Interests</div>
        <div class="interests">
          <!-- List user interests -->
          <span class="interest" *ngFor="let interest of user.interests">{{ interest }}</span>
        </div>
      </div>

      <div class="d-flex flex-column w-100" *ngIf="!isDetailsPresent() && isMyProfile">
        <span>Add some details about you</span>
        <button class="btn btn-primary mt-2" (click)="openDetailModal()">Add Details</button>
      </div>
    </div>

  </div>

  <div class="center">
    <app-post-input class="d-flex align-items-center justify-content-center" *ngIf="isMyProfile" (postCreated)="checkPostCreated($event)"></app-post-input>
    <app-post-list [userId]="user.id" [isMyPosts]="true"></app-post-list>
  </div>
  <div class="right">
    <!-- <app-who-follow-card></app-who-follow-card> -->
    <div class="bg-white rounded-lg p-4 shadow-md w-80">
      <div class="header flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold suggest-label mb-0">User Images</h3>
        <button class="see-all-btn text-sm" *ngIf="postImages.length > 4">See all</button>
      </div>
      <div class="grid grid-cols-2 gap-2" *ngIf="postImages.length > 0">
        <!-- Exemplu de fotografie -->
        <div class="relative">
          <img [src]="postImage.imageUrl" *ngFor="let postImage of postImages" (click)="openImageDialog(postImage.postId)" alt="User Photo" class="w-full h-24 object-cover rounded-lg add-cursor">
        </div>
      </div>

      <div class="no-data-container d-flex flex-column align-items-center justify-center" *ngIf="postImages.length == 0">
        <img src="./assets/img/no-data.svg"class="mb-3" alt="no data">
        <p class="text-gray-600">No images</p>
      </div>
    </div>

  </div>
</div>
