.center{
  overflow-x: hidden;
}

.left {
  overflow: hidden;
}


.left, .right {
  position: sticky;
  top: 0; /* Adjust this value based on your header's height */
  align-self: flex-start; /* Align to the top of the container */
  height: 100vh;
 // overflow-y: auto; /* Allows scrolling within the column */
}

.center {
  flex: 1;
  min-width: 0; /* Prevent flex items from overflowing */
}
