.container-home {
  padding: 0 8rem;
}

.center{
  overflow-x: hidden;
}

.left {
  overflow: hidden;
}


.left, .right {
  position: sticky;
  top: 0; /* Adjust this value based on your header's height */
  align-self: flex-start; /* Align to the top of the container */
  height: 100vh;
 // overflow-y: auto; /* Allows scrolling within the column */
}

.center {
  flex: 1;
  min-width: 0; /* Prevent flex items from overflowing */
}


@media only screen and (max-width: 1140px) {
  .right {
    display: none!important;
  }
}

@media only screen and (max-width: 815px) {
  .left {
    display: none!important;
  }
}
