<!-- change-password-modal.component.html -->
<div class="change-password-modal">
  <div class="d-flex align-items-center justify-between mb-4">
    <h2 class="modal-title">Change your password</h2>

  <button class="inline-flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full hover:bg-gray-300" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="d-flex flex-column align-items-center justify-content-center">

    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Enter current password">
    </div>

    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password">
    </div>

    <div class="password-requirements">
      <h3>Password must contain:</h3>
      <ul>
        <li>At least 1 upper case letter (A-Z)</li>
        <li>At least 1 number (0-9)</li>
        <li>At least 8 characters</li>
      </ul>
    </div>

    <button type="submit" class="change-password-btn">Change my password</button>
  </form>
</div>
