@import 'src/assets/styles/variables.scss';

.nav-bar-container {
  background-color: $deep-blue;
}

.notification-btn {
  //background-color: $sky-blue;
}

.notification-card {
  top: 125%;
  right: 60%;
  width: 27rem;
}

.link-navigation {
  cursor: pointer;
  text-decoration: none;
}

.logo-cont {
  cursor: pointer;
}

.user-avatar {
  width: 25px; /* Or your desired size */
  height: 25px; /* Or your desired size */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover;
}
