@import 'src/assets/styles/variables.scss';


.contenitor-modal {
  overflow: hidden!important;
}

.cover-image {
  max-height: calc(95vh - 48px - 24px - 8px);
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: contain;
}

// .overflow-auto {
//   overflow-y: auto; /* Enables scrolling for the description and comments */
//   position: relative;

//   height: calc(95vh - 48px - 24px);
// }

.user-description {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.post-date {
  font-size: 0.7rem;
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}


/* Custom styles for the flex column */
.col-md-4 {
  display: flex;
  flex-direction: column;
  height: calc(95vh - 56px - 8px);
}

/* Make the input form stick to the bottom */
.input-form-container {
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
  background-color: #fff;
  position: sticky;
  bottom: 0;
}

/* Make the comments and description area scrollable */
.overflow-auto {
  overflow-y: auto;
}

.action-user {
  i {
    font-size: 1.2rem;
  }
}

.no-data-container {
  height: calc(100% - 138.4px);
  img {
    width: 5rem;
  }
}

.add-padding-right {
  padding-right: 1rem;
}

.comments {
  padding-left: 1rem;
}


.post-liked {
  color: $bright-coral;
}

.post-unliked {
  color: $medium-gray;
}

.add-cursor {
  cursor: pointer;
}
