<div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
  <div class="px-4 py-2">
    <div class="flex items-center">
      <img class="h-8 w-8 rounded-full object-cover mr-2" [src]="post.user.image" [alt]="post.user.firstName">
      <div class="text-sm font-semibold">{{post.user.firstName}} {{post.user.lastName}}</div>
      <!-- <div class="text-xs text-gray-500 ml-auto">New York City, NY</div> -->
      <div class="ml-auto text-sm text-gray-600">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-symbols-outlined">
            more_horiz
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <!-- <img class="w-full" [src]="post.image" [alt]="post.description"> -->

    <!-- Swiper Container -->
    <swiper-container [config]="swiperConfig">
      <!-- Directly iterate over images with swiper-slide -->
      <swiper-slide *ngFor="let image of post.images">
        <div class="flex justify-center items-center h-64 bg-gray-200">
          <img [src]="image" [alt]="post.description" class="max-h-full max-w-full object-cover">
        </div>
      </swiper-slide>
    </swiper-container>



  <div class="px-4 py-2">
    <div class="flex items-center">
      <button type="button" class="margin-right-heart-btn">
        <!-- Insert heart icon here -->
        <mat-icon class="material-symbols-outlined">
          favorite
        </mat-icon>
      </button>
      <button type="button">
        <!-- Insert comment icon here -->
        <mat-icon class="material-symbols-outlined">
          chat
        </mat-icon>
      </button>
      <!-- <button type="button" class="ml-auto"> -->
      <!-- Insert share icon here -->
      <!-- </button> -->
    </div>
    <div class="mt-2">
      <span class="font-semibold">Liked by {{post.likes[0].user.firstName}} and {{post.likes.length}} others</span>
    </div>
    <div class="mt-2 text-sm text-gray-700">
      <span class="font-semibold">{{post.user.firstName}} {{post.user.lastName}} </span>
      {{post.description}}
    </div>
    <!-- Additional post content goes here -->
  </div>
</div>
