<div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-5" *ngIf="post && post.imageFilenames && post.imageFilenames.length > 0">
  <div class="px-4 py-2">
    <div class="flex items-center">
      <img class="h-8 w-8 rounded-full object-cover mr-2" [src]="post.user.profileImage" [alt]="post.user.firstName" *ngIf="post.user && post.user.profileImage">
      <div class="d-flex flex-column align-items-start justify-contemt-start">
        <div class="text-sm font-semibold">{{post.user.firstName}} {{post.user.lastName}}</div>
        <div class="post-footer text-gray-600 text-sm flex justify-between">
          <span>{{ post.createdAt | timeAgo }}</span>
        </div>
      </div>
      <!-- <div class="text-xs text-gray-500 ml-auto">New York City, NY</div> -->
      <div class="ml-auto text-sm text-gray-600">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-symbols-outlined">
            more_horiz
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <!-- <img class="w-full" [src]="post.image" [alt]="post.description"> -->

  <!-- Swiper Container -->
  <swiper-container [config]="swiperConfig">
    <!-- Directly iterate over images with swiper-slide -->
    <swiper-slide *ngFor="let image of post.imageFilenames">
      <div class="flex justify-center items-center w-full h-64 overflow-hidden bg-gray-200">
        <img [src]="image" [alt]="post.description" class="max-w-full max-h-full object-cover">
      </div>
    </swiper-slide>
  </swiper-container>



  <div class="px-4 py-2">
    <div class="flex items-center action-user">
      <button type="button" class="margin-right-heart-btn">
        <!-- Insert heart icon here -->
        <i class="fa-regular fa-heart" *ngIf="!isPostLiked" (click)="toggleLikePost()"></i>
        <i class="fa-solid fa-heart" *ngIf="isPostLiked" (click)="toggleLikePost()"></i>
      </button>
      <button type="button" (click)="openCommentDialog(post)">
        <!-- Insert comment icon here -->
        <i class="fa-regular fa-comment"></i>
      </button>
      <!-- <button type="button" class="ml-auto"> -->
      <!-- Insert share icon here -->
      <!-- </button> -->
    </div>
    <div class="mt-2 likes-dialog-btn" (click)="openLikesDialog(post)" *ngIf="post.likes.length > 0">
      <span class="font-semibold">Liked by {{post.likes[0].firstName}} and {{post.likes.length}} others</span>
    </div>
    <div class="mt-2 text-sm text-gray-700">
      <span class="font-semibold">{{post.user.firstName}} {{post.user.lastName}} </span>
      {{post.description}}
    </div>
    <!-- Additional post content goes here -->
  </div>
</div>

<!-- text-post.component.html -->
<div class="max-w-md mx-auto overflow-hidden text-post bg-white rounded-lg p-4 shadow-md mb-4 mt-5"
  *ngIf="post && (post.imageFilenames == null || post.imageFilenames.length === 0)">
  <div class="post-header flex items-center mb-3">
    <!-- User Avatar -->
    <img [src]="post.user.profileImage" alt="{{ post.user.firstName }}" class="h-8 w-8 rounded-full object-cover mr-2" *ngIf="post.user && post.user.profileImage">
    <div class="flex items-center justify-between w-100">
      <div class="d-flex flex-column align-items-start justify-contemt-start">
        <div class="text-sm font-semibold">{{post.user.firstName}} {{post.user.lastName}}</div>
        <div class="post-footer text-gray-600 text-sm flex justify-between">
          <span>{{ post.createdAt | timeAgo }}</span>
        </div>
      </div>
      <div class="ml-auto text-sm text-gray-600">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-symbols-outlined">
            more_horiz
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <!-- <p class="user-handle text-gray-500 mb-0">@{{ post.user.handle }}</p> -->
    </div>
  </div>

  <div class="post-body">
    <p class="post-content">{{ post.description }}</p>
  </div>


  <div class="">
    <div class="flex items-center action-user">
      <button type="button" class="margin-right-heart-btn">
        <!-- Insert heart icon here -->
        <i class="fa-regular fa-heart mr-1" *ngIf="!isPostLiked" (click)="toggleLikePost()"></i>
        <i class="fa-solid fa-heart mr-1" *ngIf="isPostLiked" (click)="toggleLikePost()"></i>
        <span class="font-semibold" *ngIf="post.likes.length <= 1">{{post.likes.length}}</span>
      </button>
      <button type="button" (click)="openCommentDialog(post)" class="d-flex align-items-center">
        <!-- Insert comment icon here -->
        <i class="fa-regular fa-comment mr-1"></i>
        <span class="font-semibold">{{post.numberOfComments}}</span>
      </button>
      <!-- <button type="button" class="ml-auto"> -->
      <!-- Insert share icon here -->
      <!-- </button> -->
    </div>
    <div class="mt-2 likes-dialog-btn" (click)="openLikesDialog(post)" *ngIf="post.likes.length > 1">
      <span class="font-semibold">Liked by {{post.likes[0].firstName}} and {{post.likes.length}} others</span>
    </div>
    <!-- Additional post content goes here -->
  </div>
</div>


<!-- post.component.ts -->

<div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-5" *ngIf="!post">
  <div class="px-4 py-2">
    <div class="flex items-center">
      <div class="skeleton h-8 w-8 rounded-full mr-2"></div>
      <div class="d-flex flex-column align-items-start justify-contemt-start w-full">
        <div class="skeleton text-sm font-semibold w-3/4 mb-1"></div>
        <div class="skeleton text-gray-600 text-sm w-1/2"></div>
      </div>
      <div class="skeleton ml-auto text-sm w-8 h-8"></div>
    </div>
  </div>

  <!-- Skeleton for Swiper Container -->
  <div class="skeleton swiper-container h-64 bg-gray-200"></div>

  <div class="px-4 py-2">
    <div class="flex items-center">
      <div class="skeleton margin-right-heart-btn w-8 h-8 mr-2"></div>
      <div class="skeleton margin-right-heart-btn w-8 h-8"></div>
    </div>
    <div class="skeleton mt-2 likes-dialog-btn w-3/4 h-4"></div>
    <div class="skeleton mt-2 text-sm text-gray-700 w-full h-6"></div>
  </div>
</div>
