@import 'src/assets/styles/variables.scss';

.post-container {
  background-color: $light-gray;
}

.margin-right-heart-btn {
  margin-right: 0.5rem;
}

.likes-dialog-btn {
  cursor: pointer;
}

.action-user {
  i {
    font-size: 1.2rem;
  }
}

.timestamp {
  color: $medium-gray;
}


//// post without images /////
/// /* text-post.component.scss */
.text-post {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 4px #eeeeee;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;

  .post-header {
    display: flex;
    align-items: center;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 0.75rem;
    }

    .user-name {
      font-weight: bold;
    }

    .user-handle {
      color: #536471;
      font-size: 0.875rem;
    }
  }

  .post-footer {
    color: #536471;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
  }
}

.post-content {
  font-size: 0.9375rem;
  line-height: 1.5;
  color: $dark-gray;
}

.post-liked {
  color: $bright-coral;
}

.post-unliked {
  color: $medium-gray;
}

.number-count {
  color: $dark-gray-text;
}

/////// Skeleton Loader ///////

.skeleton {
  background: #e4e4e4;
  background-size: 200% 100%;
  animation: loading 1.5s infinite ease-in-out;
  border-radius: 0.5rem; // Assuming you want rounded corners for all skeleton elements
}

@keyframes loading {
  100% {
    background-position: -200% 0;
  }
}

.swiper-container {
  width: 100%;
  animation-duration: 2s; // Slightly slower animation for larger areas
}

.user-image {
  cursor: pointer;
}

.add-pointer {
  cursor: pointer;
}
