<div class="container-welcome d-flex flex-column justify-content-center align-items-center h-100">
  <div class="welcome-container">
    <h1 class="roboto-bold welcome-title">Welcome to Socialize!</h1>
  </div>

  <mat-card *ngIf="isAddProfileImage">
    <mat-card-content class="d-flex flex-column align-items-center justify-content-center">
      <form [formGroup]="userProfile" class="d-flex flex-column align-items-center justify-content-center w-80">

        <!-- Avatar Image -->
        <!-- Circular Avatar -->
        <div class="avatar-container mb-2" (click)="avatarInput.click()">
          <div class="d-flex align-items-center justify-content-center">
            <img *ngIf="avatarUrl" [src]="avatarUrl" class="circular-avatar">
            <i class="fa-solid fa-plus"></i>
          </div>
          <input type="file" id="avatarInput" (change)="onAvatarChange($event)" hidden #avatarInput>
        </div>
      </form>
      <p class="roboto-medium">Add a profile image</p>

      <div class="d-flex align-items-center justify-end w-100">
        <button mat-raised-button color="primary" class="add-right-margin roboto-regular" (click)="skipView()">Skip</button>
        <button mat-raised-button color="primary" class="roboto-regular" (click)="changeView(false, true, false)">Next</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isAddProfileInfo">
    <mat-card-content class="d-flex flex-column align-items-center justify-content-center">
      <form [formGroup]="userProfile"
        class="d-flex flex-column align-items-center justify-content-center w-80 mb-3">

        <div class="form-group w-100">
          <label for="biography">Biography</label>
          <textarea id="biography" formControlName="biography" placeholder="What's on your mind?"
            class="post-textarea"></textarea>
        </div>

        <div class="form-group w-100">
          <label for="livesIn">Lives In</label>
          <input type="text" id="livesIn" formControlName="livesIn" placeholder="Where you live?">
        </div>

        <div class="form-group d-flex flex-column w-100 mb-3">
          <label for="interests">Interests</label>
          <div class="container-interests w-100 d-flex align-items-center justify-between">
          <input type="text" id="interests" formControlName="interests" (keyup.enter)="addChip()">
          <i class="fa-solid fa-circle-plus btn-add-interest ml-2" (click)="addChip()"></i>
          </div>

        </div>

        <mat-chip-list>
          <mat-chip *ngFor="let chip of chips" [removable]="true" (removed)="removeChip(chip)">
            {{ chip }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </form>
      <div class="d-flex align-items-center justify-end w-100">
        <button mat-raised-button color="primary" class="add-right-margin roboto-regular" (click)="isAddProfileImage = false">Skip</button>
        <button mat-raised-button color="primary" class="add-right-margin roboto-regular btn-back" (click)="changeView(true, false, false)">Back</button>
        <button mat-raised-button color="primary" class="roboto-regular" (click)="changeView(false, false, true)">Next</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isAddFollowers">
    <app-who-follow-card></app-who-follow-card>
    <div class="d-flex align-items-center justify-end w-100">
      <button mat-raised-button color="primary" class="add-right-margin roboto-regular" (click)="isAddProfileImage = false">Skip</button>
      <button mat-raised-button color="primary" class="add-right-margin roboto-regular btn-back" (click)="changeView(false, true, false)">Back</button>
      <button mat-raised-button color="primary" class="roboto-regular" (click)="changeView(false, false, false)">Finish</button>
    </div>
  </mat-card>
</div>
