<!-- create-post-dialog.component.html -->
<div class="create-post-dialog">
  <h2>Create Post</h2>
  <div class="post-header flex items-center mb-4">
    <!-- User Avatar -->
    <img [src]="user.image" alt="{{ user.firstName }}'s avatar" class="user-avatar mr-3">
    <!-- Post Form -->
    <form [formGroup]="postForm" (ngSubmit)="submitPost()" class="flex-grow">
      <textarea formControlName="postContent" placeholder="What's on your mind, {{ user.firstName }}?" class="post-textarea w-full"></textarea>
    </form>

    <button type="submit" class="submit-post-btn ml-4"><i class="fa-solid fa-paper-plane"></i></button>
  </div>
  <!-- Image Upload Icon -->
  <div class="image-upload flex items-center">
    <i class="fa fa-image fa-lg cursor-pointer" (click)="imageInput.click()"></i>
    <input type="file" #imageInput (change)="onImageUpload($event)" multiple hidden>
  </div>
  <!-- Preview of Uploaded Images -->
  <div class="image-preview mt-4" *ngIf="images && images.length > 0">
    <div *ngFor="let image of images; let i = index" class="preview-image relative">
      <img [src]="image" alt="Image preview" class="mr-2">
      <button class="remove-image-btn" (click)="removeImage(i)">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
  </div>
</div>
