$deep-blue: #004C8C;
$text-white: #FFFFFF;
$sky-blue: #1DA1F2;
$light-blue: #007BFF;
$dark-gray-text: #333333;
$medium-gray: #65676B;
$dark-gray: #333333;
$light-gray: #F5F8FA;
$bright-coral: #FF6B6B;
