<!-- Inserisci un contenitore esterno con una larghezza massima -->
<div class="story-list-container">
  <div class="story-list relative">
    <swiper-container  [slidesPerView]="5" [spaceBetween]="2" [navigation]="true" [css-mode]="true" class="mySwiper">
      <swiper-slide *ngFor="let story of stories">
        <div class="story">
          <img [src]="story.user.image" alt="Story image" class="story-image">
          <p class="story-user">{{ story.user.firstName }}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
