.container-story {
  width: 72%;
}

.my-story {
  display: inline-block;
  text-align: center;
  position: relative;
}

.my-story .avatar {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  object-fit: cover;
}

.my-story span {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  color: #333;
}

.container-pencil {
  position: absolute;
  bottom: 35%;
  right: 10%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #004C8C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  i {
    color: #ffff;
    font-size: 0.7rem;
  }
}
